body {
	font-family: "Inter Variable", "Inter", sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 800px;
	line-height: 1.5;
	accent-color: #ff4539;
}
h1,
h2,
h3,
.u-uid {
	font-family: "Inter Display", "Inter Variable", "Inter", sans-serif;
}

code,
pre {
	font-family: monospace, monospace; /* [sic], https://seirdy.one/posts/2020/11/23/website-best-practices#monospace-handling */
}

@media (max-width: 230px) {
	body {
		padding: 0;
	}
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #00000f;
		color: #fff;
	}
}
a {
	color: #ff4539;
}
