---
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content"
const articles = await getCollection("blog")
---

<Layout title="Jack.cab/blog/" ogTitle="Blog" description="Decompressed posting">
	<h1>
		<img
			width="48"
			height="64"
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQAgMAAABfD3aUAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAxQTFRFAAAAAAAAAAAA////NVcRhAAAAAF0Uk5TAEDm2GYAAAA3SURBVAjXLcqxCcAwEATBBRXwDRm+dYEbEjh9WF3gYFg4jhb8Np4TT1QsVIZmdhjv32yW+UjXXEQHIRA5bnbJAAAAAElFTkSuQmCC"
			alt=""
		/><br />
		jack.cab/blog/
	</h1>
	<p>Decompressed posting</p>
	{
		articles.length === 0 ? (
			<p style="text-align:center">
				<strong style="font-size:xxx-large">No articles yet!</strong>
			</p>
		) : (
			// https://jamesg.blog/2024/01/10/h-card-how-to/
			<ul class="h-feed">
				{articles
					.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
					.map(article => (
						<li class="h-entry">
							<h2 class="p-name">
								<a href={`/blog/${article.id}`} class="u-url">
									{article.data.title}
								</a>
							</h2>
							<time class="dt-published" datetime={article.data.date.toISOString()}>
								{article.data.date.toISOString().split("T")[0]}
							</time>
							<p class="p-summary">{article.data.description}</p>
						</li>
					))}
			</ul>
		)
	}
</Layout>

<style is:global>
	h1 {
		text-align: center;
	}
	img {
		image-rendering: pixelated;
		@media (prefers-color-scheme: light) {
			filter: invert(1);
		}
	}
	a {
		display: block;
	}
	h2 {
		flex-grow: 1;
		margin-block-end: 0;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	time {
		font-size: 0.8em;
		float: right;
	}
</style>
