body {
	font-family: "Inter var", "Inter", sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	line-height: 1.5;
}
code,
pre {
	font-family: monospace, monospace; /* [sic], https://seirdy.one/posts/2020/11/23/website-best-practices#monospace-handling */
}
