body {
	font-family: "Inter Variable", "Inter", sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	line-height: 1.5;
}
h1,
h2,
h3,
.u-author {
	font-family: "Inter Display", "Inter Variable", "Inter", sans-serif;
}
code,
pre {
	font-family: monospace, monospace; /* [sic], https://seirdy.one/posts/2020/11/23/website-best-practices#monospace-handling */
}

@media (max-width: 230px) {
	body {
		padding: 0;
	}
}
