export interface Input {
	value: Date
	style?: string
}

time datetime=input.value.toISOString() class="dt-published" style=input.style
	-- ${
		input.value.toLocaleDateString("en-us", {
			year: "numeric",
			month: "short",
			day: "numeric",
		})
	}
