---
import BaseHead from "../components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="404: Not Found" description="wrong page idiot"/>
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #000;
			}
		</style>
	</head>

	<body>
		<img
			src="https://http.cat/404.jpg"
			alt="404 cat"
			style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 100vw; max-height: 100vh; height: auto; width: auto;"
			width="750"
			height="600"
		/>
	</body>
</html>
