<p class="p-note">
	Web dev since 2016,
	<a href="https://cetera.uk">
		<svg
			viewBox="0 0 173.8 275.72"
			height="20"
			style="vertical-align: middle"
			role="none"
			fill="currentColor"
		>
			<circle cx="37.13" cy="26.43" r="21.6"></circle>
			<circle cx="34.62" cy="117.87" r="34.62"></circle>
			<circle cx="119.78" cy="130.68" r="21.6"></circle>
			<circle cx="127.16" cy="46.64" r="46.65"></circle>
			<circle cx="102.68" cy="219.58" r="56.14"></circle>
		</svg>
		etc.
	</a> <abbr title="established">est.</abbr> 2020, burnout since 2024.
</p>

<p id="reviews">
	I'm bad at describing myself, so here's what others have said about me:
</p>
<quote="whys jack so obsessed with wave smiley" author="mau, 2023" />
<quote="WHAT THE FUCK JACK [...] WHY DOES HE DO THIS" author="Charlie, 2023" />
<quote="jack I'm sorry this looks fucking terrible and you should explode"
	author="aagaming, 2023"
/>
<quote="[...] all of my ideas i just steal from jack [...]"
	author="split, 2023"
/>
<quote="the dude [Jack] is an enigma to me" author="accel, 2023" />
<quote="Josh Miller is gonna assassinate you" author="Bongo, 2023" />

<p>
	My pronouns are
	<span style="white-space:pre"><span>he</span>/<span>him</span></span>.
	<clock-sentence="US/Eastern" />
</p>

<link href="acct:j@jack.cab" class="u-url" />

<h2 id="buttons">Buttons</h2>

<button-section="Etceterans">
	<li>
		<a href="https://jack.cab">
			<img
				src="./_buttons/jack.png"
				alt="Jack.cab"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://aagaming.me">
			<img
				src="./_buttons/aagaming-8831.png"
				alt="aagaming"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://charlie.downgraded.uk" title="Charlie">
			<img
				src="./_buttons/charlie.png"
				alt="Charlie"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://split.pet">
			<img
				src="./_buttons/split.png"
				alt="split"
				decoding="async"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://maliciousmeaning.dev/" title="Malice">
			<img
				src="./_buttons/malice.png"
				alt="Malice"
				decoding="async"
				style="image-rendering:pixelated"
				width="120"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://mau.monster" title="mau">
			<img
				src="./_buttons/mau.png"
				alt="mau"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
</button-section>
<button-section="Fediverse">
	<li>
		<a href="https://aei.sh/">
			<img
				src="./_buttons/aei.gif"
				alt="aei's site"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://beebl.es/">
			<img
				src="./_buttons/beebles.png"
				alt="Beebles"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://bee.movie/">
			<img
				src="./_buttons/beebadge.png"
				alt="suspiciouslyBee"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://coolelectronics.me/">
			<img
				src="./_buttons/ce88x31.png"
				alt="coolelectronics.me"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://freeplay.floof.company/">
			<img
				src="./_buttons/freeplay.png"
				alt="Freeplay"
				decoding="async"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://micro.pages.gay/">
			<img
				src="./_buttons/micro.png"
				alt="Micro"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://sneexy.pages.gay/">
			<img
				src="./_buttons/sneexy.png"
				alt="Sneexy"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://spacy.neocities.org/">
			<img
				src="./_buttons/ssm230.png"
				alt="spacy"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://sterophonick.github.io/">
			<img
				src="./_buttons/sterophonick.gif"
				alt="Sterophonick"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://infisoft.org">
			<img
				src="./_buttons/whitespaced.gif"
				alt="whitespaced"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://pinkcreeper100.pages.gay">
			<svg width="88" height="31" aria-label="pinkcreeper100">
				<rect
					width="88"
					height="31"
					fill="#1e1e2e"
					stroke="#313244"
					stroke-width="5"
				></rect>
				<image
					x="57"
					y="7"
					width="16"
					height="16"
					href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAKlBMVEUYGCUeHi1MT2Noa4Fwcoh5eI6hjZ+tkqLZpKbep6biqaXlqqTltKjlt6nUvBI2AAAAfklEQVQI1y3KoQ3DMBCF4ecRbobbIAEHTkUFHaYsBganjFDcIQINXOkpExRWVUCWqROVfdL/o+SSb+WawRrNm1fM3+VhtA+cXO/BDQ7wCTR4kplJ4kT9g5HkDb/sgK+EWz88OjaI9B++p46ejHKgwV4HlgqdZDTRCTrIqKLDD2RBLP1L65KiAAAAAElFTkSuQmCC"
					image-rendering="pixelated"
				></image>
				<text
					x="14"
					y="19"
					font-size="12px"
					font-family="'Fira Code',monospace"
					fill="#cdd6f4"
					stroke="#cdd6f4"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					pc100
				</text>
			</svg>
		</a>
	</li>
	<li>
		<a href="https://toastyfen.neocities.org/">
			<img
				src="./_buttons/toastyfen.gif"
				alt="toastyfen"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://luna.anarchy.center/">
			<img
				src="./_buttons/luna.png"
				alt="luna's anarchy center"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://tuxcrafting.online">
			<img
				src="./_buttons/tctek.png"
				alt="tuxcrafting"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://trypancakes.com">
			<img
				src="./_buttons/pancakes.png"
				alt="pancakes"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://drakonic.zone">
			<img
				src="./_buttons/drakonic.gif"
				alt="DRAKONIC"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://moondvsted.neocities.org">
			<img
				src="./_buttons/moondvsted.gif"
				alt="moondvsted"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
</button-section>

<button-section="Other">
	<li>
		<a href="https://gba.ioi-xd.net/">
			<img
				src="./_buttons/sherbetbutton.gif"
				alt="sherbetbutton"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://tangent.surf">
			<img
				src="./_buttons/tangent.png"
				alt="TANGENT BY ETCETERA"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://www.gnome.org/">
			<img
				src="./_buttons/gnome.png"
				alt="GNOME"
				decoding="async"
				style="image-rendering:pixelated"
				width="88"
				height="31"
			/>
		</a>
	</li>
	<li>
		<a href="https://gradienceteam.github.io/">
			<img
				src="./_buttons/pleasetheme.png"
				alt="Please theme our apps"
				decoding="async"
				width="120"
				height="31"
			/>
		</a>
	</li>
</button-section>
<!-- <h2 id="blog">Blog</h2>
<ul>
	<for|path, { title, pubDate }|
		in=import.meta.glob("../../posts/*.md", {
			eager: true,
			import: "attributes",
		})
	>
		<li>
			<a href=(path.replace("../../posts/", "/").replace(".md", ""))>
				${title}
			</a>
			${" "}
			<formatted-date=new Date(pubDate) style="color:GrayText" />
		</li>
	</for>
</ul> -->
<h2 id="feedback">Feedback</h2>
<form action="https://feedback.5079.workers.dev/" method="post">
	<textarea
		name="text"
		placeholder="Feedback"
		style="resize:vertical;width:100%"
	></textarea><input type="submit" value="Send feedback" /><input
		type="hidden"
		name="wave"
		value="smiley"
	/>
</form>
