export interface Input {
	src: string,
	alt?: string,
	pixelArt?: boolean
}

img src=input.src alt=input.alt decoding="async" style=input.pixelArt && "image-rendering:pixelated" height="31" width="88"
