export interface Input {
	value: string
}


a href=`https:///en.wikipedia.org/wiki/${input.value}` -- Right now
let/time=new Date().toLocaleString([],{timeZone:input.value,timeStyle:"short"})
effect () {
	const interval = setInterval(() => {
		time = new Date().toLocaleString([],{timeZone:input.value,timeStyle:"short"})
	}, 1000)
	return () => clearInterval(interval)
}
-- , it's ${time}.
