export interface Input {
	value: number
	renderBody: Marko.Body
}
<div
	style=`grid-template-columns:repeat(${input.value},1fr)`
	class="columns"
>
	<${input.renderBody} />
</div>

style {
	@media (min-width: calc(65ch + 40px)) {
		.columns {
			display: grid;
			grid-gap: 1em;
		}
	}
}
