<div class="under-construction">Draft!</div>

<style>
	.under-construction {
		background: repeating-linear-gradient(45deg, yellow, yellow 10px, black 10px, black 20px);
		background-size: 200% 200%;
		animation: under-construction 10s infinite linear;
		text-align: center;
		color: black;
		text-shadow: 0 0 10px white;
		font-weight: bold;
	}
	@keyframes under-construction {
		100% {
			background-position: 100%;
		}
	}
</style>