<footer style="padding:25px;text-align:center">
	<a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">🄯 Some rights reserved</a>
</footer>
<style is:global>
	[rel="license"] {
		text-decoration: none;
	}
</style>
