<footer>
	<a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" style="view-transition-name:copyright">🄯 Some rights reserved</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
	a:not(:hover) {
		text-decoration: none;
	}
</style>
