---
import Socials from "./Socials.astro"
import cab from "../components/cab.png?url"

type Props = {
	home?: boolean
}

const { home } = Astro.props
---

<nav class:list={[!home && "u-author h-card"]}>
	<a href="/" class="u-url u-uid" rel="author">
		<!-- Hearing "Link: GNOME Archive icon Jack W." would be confusing. Set the alt text to "" to hide it for screen readers. -->
		<img
			src={cab}
			alt=""
			decoding="async"
			class="u-photo"
			style="image-rendering:pixelated"
			height="32"
			width="32"
		/>
		<span class="p-name">Jack W.</span>
	</a>

	<Socials />
</nav>
<style is:global>
	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: 1ch;
	}
	.u-uid {
		margin: 0.5em 0;
		/* Aligned with the height of the logo's beige portion */
		font-size: 27.5px;
		font-weight: bold;
		text-decoration: none;
		flex-grow: 1;
	}
</style>
