---
import Socials from "./Socials.astro"
---

<nav>
	<a href="/" class="u-author" rel="author">Jack W.</a>

	<Socials />
</nav>
<style>
	nav {
		margin: 0em 0 2em;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: 1ch;
	}

	.u-author {
		margin: 0.5em 0;
		font-size: 1.5em;
		text-decoration: none;
		flex-grow: 1;
	}
</style>
