{
	!(Astro.url.pathname.startsWith("/blog/") && Astro.url.pathname.length > 6) && (
		<nav>
			<a href="/" class="u-url u-uid" rel="author">
				<img
					src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQAgMAAABfD3aUAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlQTFRFAAAAAAAA////g93P0gAAAAF0Uk5TAEDm2GYAAAA2SURBVAjXLcqxCcBADMVQcVXwJMFTZpQjldGU9wkpXiNEC74P7h13VCxUhmaM6zf9Ncs80jUHwegVF1+wUSkAAAAASUVORK5CYII"
					alt=""
					decoding="async"
					class="u-photo"
					style="image-rendering:pixelated"
					width="12"
					height="16"
				/>{" "}
				<span class="p-name">Jack.cab</span>
			</a>
		</nav>
	)
}

<style is:global>
	.u-uid {
		/* text-align: center; */
		text-transform: uppercase;
		display: block;
		color: currentColor;
		margin: 0.5em 0;
		font-weight: bold;
		text-decoration: none;

		@media (prefers-color-scheme: light) {
			img {
				filter: invert(1);
			}
		}
	}
</style>
