---
import LanyardPeriod from "./LanyardPeriod.astro"
---

{
	(
		<nav>
			<a href="/" class="u-url u-uid" rel="author">
				<img
					src={
						Astro.props.tool
							? "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQAgMAAABfD3aUAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlQTFRFAAAA/0U5////eikEDAAAAAF0Uk5TAEDm2GYAAAA3SURBVAjXRcqxCQAxDATBxaEqMarycSXGkdgqLfjAwbAXHCl4Pty7zRZtoFIktfLVfxv2RzLqAscIFWP94yGZAAAAAElFTkSuQmCC"
							: Astro.props.blog
								? "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQAgMAAABfD3aUAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAxQTFRFAAAAAAAAAAAA////NVcRhAAAAAF0Uk5TAEDm2GYAAAA3SURBVAjXLcqxCcAwEATBBRXwDRm+dYEbEjh9WF3gYFg4jhb8Np4TT1QsVIZmdhjv32yW+UjXXEQHIRA5bnbJAAAAAElFTkSuQmCC"
								: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQAgMAAABfD3aUAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlQTFRFAAAAAAAA////g93P0gAAAAF0Uk5TAEDm2GYAAAA2SURBVAjXLcqxCcBADMVQcVXwJMFTZpQjldGU9wkpXiNEC74P7h13VCxUhmaM6zf9Ncs80jUHwegVF1+wUSkAAAAASUVORK5CYII"
					}
					alt=""
					decoding="async"
					class={Astro.props.tool || Astro.props.blog ? "" : "u-photo"}
					style="image-rendering:pixelated"
					width="12"
					height="16"
				/>{" "}
				{/* For some horrifying reason Astro is adding whitespace between the period which destroys everything */}
				{/* Only show the lanyard period on the homepage and also don't do it at dev because it refreshes a lot */}
				{/* prettier-ignore */}
				<span class="p-name">
					Jack{Astro.url.pathname === "/" && import.meta.env.PROD ? <LanyardPeriod /> : "."}cab
				</span>
			</a>
		</nav>
	)
}

<style is:global>
	.u-uid {
		/* text-align: center; */
		text-transform: uppercase;
		display: block;
		color: currentColor;
		margin: 0.5em 0;
		font-weight: bold;
		text-decoration: none;

		@media (prefers-color-scheme: light) {
			img {
				filter: invert(1);
			}
		}
	}
</style>
