---
import favicon from "../favicon.png?url"
---

{
	!(Astro.url.pathname.startsWith("/blog/") && Astro.url.pathname.length > 6) && (
		<nav>
			<a href="/" class="u-url u-uid" rel="author">
				<img
					src={favicon}
					alt=""
					decoding="async"
					class="u-photo"
					style="image-rendering:pixelated"
					height="32"
					width="32"
				/>
				{" "}
				<span class="p-name">Jack.cab</span>
			</a>
		</nav>
	)
}

<style is:global>
	nav {
		text-align: center;
	}
	.u-uid {
		display: block;
		margin: 0.5em 0;
		/* Aligned with the height of the logo's beige portion */
		font-size: 27.5px;
		font-weight: bold;
		text-decoration: none;
	}
</style>
