export interface Input {
	/** The Discord user ID to monitor */
	value: string
	renderBody?: Marko.Body<{}>
}
<let/presence=null />
<effect() {
	const res = fetch(`https://api.lanyard.rest/v1/users/${input.value}`).then(
		(res) => res.json(),
	)

	res.then((res) => {
		if (res.data) {
			presence = res.data
		}
	})
} />

<if=presence><${input.renderBody} ...presence /></if>
