export interface Input {
	renderBody: Marko.Body
	byline: Marko.Body
}
<figure data-nosnippet itemscope itemtype="https://schema.org/Quotation">
	<blockquote itemprop="text"><q><${input.renderBody} /></q></blockquote>
	<figcaption>
		―<span itemprop="citation"><${input.byline} /></span>
	</figcaption>
</figure>
<style>
	figure {
		margin-inline: 0;
	}
	blockquote {
		display: inline;
		margin: 0;
	}
	q {
		font-style: italic;
	}
	figcaption {
		color: GrayText;
	}
</style>
