---
import {
	siDiscord,
	siMastodon,
	siGithub,
	siCodeberg,
	siYoutube,
	siMisskey,
	siNixos,
	siX,
} from "simple-icons"
const socials = [
	{
		icon: siDiscord,
		href: "https://discord.com/users/173589391560802306",
		text: "@nixos.org",
	},
	{
		icon: siMastodon,
		href: "https://wetdry.world/@j",
		text: "@j@wetdry.world",
	},
	{
		icon: siMisskey,
		href: "https://owo.community/@j",
		text: "@j@owo.community",
	},
	{
		icon: siX,
		href: "https://x.com/banger_post",
		text: "@banger_post",
	},
	{
		icon: siGithub,
		href: "https://github.com/Jack5079",
		text: "@Jack5079",
	},
	{
		icon: siCodeberg,
		href: "https://codeberg.org/j-w",
		text: "@j-w",
	},
	{
		icon: siYoutube,
		href: "https://youtube.com/@Jack5079",
		text: "@Jack5079",
	},
	{
		icon: siNixos,
		href: "https://github.com/Jack5079/dotfiles",
		text: "github:Jack5079/dotfiles",
	},
]
---

{
	socials.map(social => (
		<a
			rel="me"
			class="u-url"
			target="_blank"
			href={social.href}
			title={`${social.text} on ${social.icon.title}`}
			set:html={social.icon.svg
				.replace(`role="img"`, `role="none" width="24" height="24" class="social"`)
				.replace(new RegExp("<title>.*</title>"), "")}
		/>
	))
}

<style is:global>
	svg.social {
		width: 1.5em;
		height: 1.5em;
		fill: currentColor;
	}
</style>
