<!-- Inspired by https://deeply.nekoweb.org which is in turn taken from https://chfr.link -->
<script>
	import mc_click from "./mc_click.ogg?url"
	const quotes = [
		"Have anyone hating on Electron try to make an HTTP server responding with a stream in actix-web and they'll be worshipping Brendan Eich in no time",
		"When I write a GTK app, I shouldn't be manually updating properties like a Roblox script",
		"I don't wanna use anything made by people who know what Homestuck is",
		"I need to add Marko, I need to add Marko so bad",
		"Every day I feel more and more like a techbro",
		"Who is Mike and why is he in my feedback form",
		"trollsmile is now scanning you. These DMs.... property of trollsmile....",
		"Etcetera has therefore decided that your startup should be destroyed",
		"Step 5: Toot. Step 6: Motion",
		"@Sales Convince this user",
		"This is why you should never trust people who do their shit lowercase",
		"Eventually you will get an evil user, and that evil user will be smarter than you, but has the same mental illnesses as you, so you wake up to 100% RAM usage and connecting gives you Bad Gateway",
		"Your lottery numbers are 10, 20, 26, 57. Don't worry which lottery, any will work. Etcetera knows all. Etcetera knows it first. I am superhuman.",
		"When I die, they'll study my brain for decades, like Albert Einstein",
		"I need disciples, like Quanos or Jesus",
		"your bsky got hacked",
		"They're all fucking doiding me",
		"We should make racist ux",
		"This bread looks. Like finder macos",
		"I gotta stop praying for Servo and do something",
		"I am never trusting 10 college furries with my private messages I don't care how gay they are",
	]
	let quote: string
	declare const inner_blockquote: HTMLQuoteElement
	declare const random_quote: HTMLButtonElement
	const random = <Type,>(arr: readonly Type[]): Type =>
		arr[Math.floor(Math.random() * arr.length)]
	const roll = () => {
		quote = random(quotes.filter(q => q !== quote))
		inner_blockquote.innerText = quote
	}
	roll()
	random_quote.onclick = () => {
		new Audio(mc_click).play()
		roll()
	}
</script>

<button id="random_quote" aria-label="Random quote">
	<blockquote id="blockquote">
		<span id="inner_blockquote" data-nosnippet></span>
	</blockquote>
</button>

<style is:global>
	/* https://github.com/IdreesInc/Minecraft-Font */
	@font-face {
		font-family: Minecraft;
		src: url(./Minecraft.woff2) format("woff2");
	}
	#random_quote {
		width: 100%;
		height: 100%;
		background: none;
		border: none;
		font-family: Minecraft, monospace;
		cursor: pointer;
		text-align: center;
	}
	#blockquote {
		margin: 0;
		font-size: 15px;
		color: #ff0;
		text-shadow: 2px 2px 0 #3f3f00;
		animation: zoom-in-zoom-out 0.5s infinite alternate;
		rotate: -12deg;
		line-height: 18px;
		text-wrap: balance;
		@media (max-width: calc(800px + 40px)) {
			padding-block: 8ch;
		}
	}
	@keyframes zoom-in-zoom-out {
		0% {
			transform: scale(0.875);
		}
		100% {
			transform: scale(1);
		}
	}
</style>
